<a href="https://colab.research.google.com/github/guihenrique2024/inside-3/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import plotly.express as px

# Criando um DataFrame de exemplo
data = {
    'Data': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']),
    'Vendas': [100, 120, 90, 150, 110],
    'Custos': [50, 60, 45, 70, 55]
}
df = pd.DataFrame(data)

# Exibindo as primeiras linhas do DataFrame
display(df.head())

        Data  Vendas  Custos
0 2023-01-01     100      50
1 2023-01-02     120      60
2 2023-01-03      90      45
3 2023-01-04     150      70
4 2023-01-05     110      55

In [ ]:
# Criando um gráfico de linhas interativo com Plotly
fig = px.line(df, x='Data', y='Vendas', title='Vendas Diárias Interativas')
fig.show()